<% include ../partials/head %>
  <section class="container">
    <h1 class="hidden">Edit event <%= event.title %></h1>
    <% include ../partials/error-block %>
    <form id="event-form" action="/events/<%= event._id %>?_method=PUT" method="POST">
      <fieldset class="event-form">
        <legend class="hidden">Edit event</legend>
        <label for="event-title">Event title</label>
        <input id='event-title' name='event[title]' value="<%= event.title %>" type='text' placeholder='Enter the title for the event'/>
        <label for="event-location">Event location (optional)</label>
        <input id="event-location" name="event[location]" value="<%= event.location %>" type="text" placeholder="Enter the location or webex details" />
        <label for="event-contact-name">Contact name (optional)</label>
        <input id="event-contact-name" name="event[contact][name]" value="<%= event.contact.name %>" type="text" placeholder="Enter contact name for the event" />
        <label for="event-contact-email">Contact email (optional)</label>
        <input id="event-contact-email" name="event[contact][email]" value="<%= event.contact.email %>" type="email" placeholder="Enter email address for event contact" />
        <label for="event-start">Event start</label>
        <div class='input-group date'>
            <input id ="event-start" name="event[date][start]" value="<%= event.date.start %>" type='text' placeholder="Event start"/>
        </div>
        <label for="event-end">Event end</label>
        <div class='input-group date'>
            <input id ="event-end" name="event[date][end]" value="<%= event.date.end %>" type='text' placeholder="Event end"/>
        </div>
        <label for="event-description">Event description (optional)</label>
        <textarea id='event-description' name='event[description]'placeholder="What's the event about?"><%= event.description %></textarea>
        <button class="btn-primary">Edit event</button>
      </fieldset>
    </form>
  </section>
<% include ../partials/foot %>
