<% include ../partials/head %>

<div class="container">
  <% events.forEach(function(event){ %>
    <div>
      <p><%= event.title %></p>
      <p><%= event.description %></p>
      <p><%= event.location %></p>
      <% if(event.contact.email && event.contact.name) { %>
        <a href="mailto:<%= event.contact.email %>"><%= event.contact.name %></a>
      <% } %>
      <% if (event.contact.name && !event.contact.email) { %>
        <p><%= event.contact.name %></p>
      <% } %>
      <% if (event.contact.email && !event.contact.name) { %>
        <a href="mailto:<%= event.contact.email %>"><%= event.contact.email %></a>
      <% } %>
      <p><%= event._id %></p>
      <p><%= moment(event.date.start).format("MMM Do YYYY") %> - <%= moment(event.date.start).format("h:mm a") %></p>
      <p><%= moment(event.date.end).format("MMM Do YYYY") %> - <%= moment(event.date.end).format("h:mm a") %></p>
    </div>
  <% }) %>
</div>

<% include ../partials/foot %>
