<% include ../partials/head %>
<%# <a href="/posts/new">Create new post</a>%>
<div class="container-fluid">
  <div class="row">
    <div class="featured-section">
      <div class="featured-post-details">
        <h2 class="featured-post__title"><%= mainPost.title %></h2>
        <div class="featured-post__body"><%- mainPost.body.substring(0, 500) %>...</div>
        <a class="featured-post__link" href="/posts/<%= mainPost._id %>" />Read more</a>
      </div>
    </div>
    <div class="list-section">
      <% posts.forEach(function(post){ %>
        <a class="list-item__link" href="/posts/<%= post._id %>">
          <div class="list-item">
            <h3 class="list-item__title"><%= post.title %></h3>
            <span class="list-item__more">Read more</span>
          </div>
        </a>
      <% }) %>
    </div>
  </div>
</div>

<% include ../partials/foot %>
